/* Header.css */
@import url('../fonts.css'); 
.header {
  font-family: 'Kontora', sans-serif;
  background: white;
  color: white;
  padding: 0 100px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  /* position: sticky; */
  top: 0;
  z-index: 1000;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: relative;
}

/* Логотип */
.logo-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 28px;
  font-weight: 800;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo-image {
  height: 167px;
  width: 167px;
}

/* Основная навигация */
.main-nav {
  padding-right: 20px;
  display: flex;
}

.nav-list {
  
  display: flex;
  list-style: none;
  gap: 21px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-item {
  position: relative;
}

.nav-link {
  background-color: #003466;
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  padding: 8px 16px;
  border-radius: 25px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}


.nav-link:hover {
  color: #ffffff;
  background: rgba(23, 84, 161, 1);
}
.nav-link:focus {
  outline: none;
  color: #003466;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px 2px #003466;
} 
.nav-link:active {
  color: #003466;
  background: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgb(0, 37, 98);
}
.nav-text {
  position: relative;
}

/* Кнопки действий */
.header-actions {
  display: flex;
  gap: 21px;
  align-items: center;
}

.blue-btn {
  background: #003466;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  box-shadow: 0 2px 8px rgba(59, 130, 246, 0.3);
}

/* Кнопки без текста (иконки) */
.blue-btn:not(.profile) {
  width: 60px;
  height: 58px;
}

/* Wrapper для картинки с отступами от краев */
.btn-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px; /* 12px отступ от краев кнопки */
  border-radius: 8px;
}

/* Картинка внутри wrapper */
.btn-img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/* Текст кнопки профиля */
.btn-text {
  color: white;
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
}
.btn-badge {
  position: absolute;
  font-family: 'Kontora', sans-serif;
  top: -6px;
  right: -6px;
  background: #ffffff;
  color: rgba(0, 52, 102, 1);
  font-size: 15px;
  font-weight: bold;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 52, 102, 1);
  z-index: 1;
}
.blue-btn:focus {
  outline: none;
  background: #ffffff;
  border: 2px solid rgba(248, 248, 248, 0.04);
  box-shadow: 0px 0px 4px 2px #003466;
}

.blue-btn:not(:focus):hover {
  background: rgba(23, 84, 161, 1);
  
}
